*, *::before, *::after{
    margin:0px;
    padding:0px;
    max-height:100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display:flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background-color: rgb(119, 119, 119);
}


.time{
    margin:5px;
    box-sizing:border-box;
    align-self: flex-end;
    min-height:20vh;
    width:30%;
    background-color: rgb(165, 113, 83);
}
.calendar{
    margin:5px;
    align-self: flex-end;
    min-height:77.5vh;
    width:30%;
    background-color: rgb(201, 171, 158);
}
.weather{
    margin:5px;
    align-self: center;
    min-height:50vh;
    width:30%;
    background-color: rgb(163, 123, 105);
}
.to-do-list{
    margin:5px;
    align-self: center;
    min-height:47.5vh;
    width:30%;
    background-color: rgb(201, 147, 122);
}
.news{
    margin:5px;
    align-self: flex-start;
    min-height:99vh;
    width:30%;
    background-color: rgb(100, 92, 87);
}

/*Styling content inside the flex items*/